<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
		<listener class-name="Academy.Listeners" />
	</listeners>

	<test name="App testing">
		<classes>
			<class name="Academy.AppTest" />
		</classes>
	</test>
	<test name="validating navigation Bar">
		<classes>
			<class name="Academy.validateNavigationBar" />
		</classes>
	</test>
	<test name="validating user login">
		<classes>
			<class name="Academy.HomePage" />
		</classes>
	</test>
	<test name="Validating title in the page">
		<classes>
			<class name="Academy.validateTitle" />
		</classes>
	</test>
</suite>
